python-dotenv
pandas
numpy
pymongo
pymongo[srv]
streamlit
telethon
yfinance
jupyterlab
jupyterlab-simpledark
requests
bs4
pandas_ta
pydot
protobuf
tensorflow-macos
tensorflow>=2.5.0
tensorflow-hub
Keras
tensorflow-docs
statsmodels==0.13.5
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
flask
flask_babel
flask-cors
torch
transformers
ipywidgets
plotly

langchain==0.0.354
langchain-community==0.0.11
langchain-openai==0.0.2
chainlit==1.0.101
openai
#langflow==0.6.4
newspaper3k
GoogleNews
duckduckgo-search
arxiv
datetime
feedparser
requests
requests_html