python-dotenv
pandas
numpy
pymongo
pymongo[srv]
streamlit
telethon
yfinance
jupyterlab
jupyterlab-simpledark
requests
bs4
pandas_ta
pydot
protobuf
tensorflow-macos
tensorflow>=2.5.0
tensorflow-hub
Keras
tensorflow-docs
statsmodels==0.13.5
scikit-learn==1.2.2
matplotlib==3.7.1
pandas==2.0.1
numpy==1.23.5
seaborn==0.12.2
flask
