python-dotenv
pandas
numpy
pymongo
streamlit
telethon
yfinance
jupyterlab
jupyterlab-simpledark
requests
bs4
matplotlib
seaborn
scikit-learn
pandas_datareader
statsmodels
altair==5.0.1
pmdarima==2.0.3
keras
tensorflow
pandas_ta
xgboost
beautifulsoup4==4.10.0
requests
nltk
newspaper3k
fake_useragent
GoogleNews
wordcloud
datetime
torch
transformers
plotly
statsmodels
stldecompose