ipykernel==6.25.1
matplotlib==3.7.2
numpy==1.25.2
pandas==2.0.3
plotly==5.16.1
seaborn==0.12.2
statsmodels==0.14.0
streamlit==1.26.0
yfinance
python-dotenv
pandas
numpy
pymongo
streamlit
telethon
yfinance
jupyterlab
jupyterlab-simpledark
requests
bs4
matplotlib
seaborn
scikit-learn
pandas_datareader
statsmodels
altair
pmdarima
keras
tensorflow
pandas_ta
xgboost
beautifulsoup4
requests
nltk
newspaper3k
fake_useragent
GoogleNews
wordcloud
datetime
torch
transformers
plotly
statsmodels
stldecompose
SQLAlchemy
streamlit-aggrid
streamlit-autorefresh