<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
  <meta name="theme-color" content="#336699">
  <script type="module" src="https://unpkg.com/deep-chat@1.4.6/dist/deepChat.bundle.js"></script>
  <title>Chatbot 🤖</title>
</head>
<body>
  
  <header class="master"> 
    <ul class="breadcrumb">
      <li><a href="/" class="home">⌂</a></li>
      <li class="symbol">Chatbot</li>
    </ul>
  </header>

  
  <!--deep-chat
    stream='{"simulation": 6}'
    introMessage='{"text": The response message bubble will be populated gradually with text events."}'
    request='{
      "url": "http://127.0.0.1:5000/chat",
      "method": "POST",
      "additionalBodyProps": {}
    }'
  ></deep-chat-->

  
  
  
  
<deep-chat
  request='{
    "url": "http://127.0.0.1:5000/chat",
    "method": "POST",
    "additionalBodyProps": {}
  }'
  style="border-radius: 10px; width: 96vw; height: calc(100vh - 70px); padding-top: 10px"
  messageStyles='{
    "default": {
      "shared": {
        "bubble": {
          "maxWidth": "100%", "backgroundColor": "unset", "marginTop": "10px", "marginBottom": "10px", "fontSize": "1rem"}},
      "user": {
        "bubble": {
          "marginLeft": "0px", "color": "black"}},
      "ai": {
        "outerContainer": {
          "backgroundColor": "rgba(247,247,248)", "borderTop": "1px solid rgba(0,0,0,.1)", "borderBottom": "1px solid rgba(0,0,0,.1)"
        }
      }
    }
  }'
  avatars='{
    "default": {"styles": {"position": "left"}},
    "ai": {"src": "{{ url_for('static', filename='chatbot1.png') }}"}
  }'
  submitButtonStyles='{
    "submit": {
      "container": {
        "default": {"backgroundColor": "#19c37d"},
        "hover": {"backgroundColor": "#0bab69"},
        "click": {"backgroundColor": "#068e56"}
      },
      "svg": {
        "content": "<?xml version=\"1.0\" ?> <svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"> <g> <path d=\"M21.66,12a2,2,0,0,1-1.14,1.81L5.87,20.75A2.08,2.08,0,0,1,5,21a2,2,0,0,1-1.82-2.82L5.46,13H11a1,1,0,0,0,0-2H5.46L3.18,5.87A2,2,0,0,1,5.86,3.25h0l14.65,6.94A2,2,0,0,1,21.66,12Z\"> </path> </g> </svg>",
        "styles": {
          "default": {
            "width": "1.3em",
            "marginTop": "0.15em",
            "filter": "brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(2%) hue-rotate(69deg) brightness(107%) contrast(100%)"
          }
        }
      }
    },
    "loading": {
      "container": {"default": {"backgroundColor": "white"}},
      "svg": {
        "styles": {
          "default": {"filter": "brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(3044%) hue-rotate(322deg) brightness(100%) contrast(96%)"}
        }
      }
    },
    "stop": {
      "container": {
        "default": {"backgroundColor": "white"},
        "hover": {"backgroundColor": "#dadada52"}
      },
      "svg": {
        "content": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"> <rect width=\"24\" height=\"24\" rx=\"4\" ry=\"4\" /> </svg>",
        "styles": {
          "default": {
            "width": "0.95em",
            "marginTop": "0.32em",
            "filter": "brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(3044%) hue-rotate(322deg) brightness(100%) contrast(96%)"}
        }
      }
    }
  }'
  inputAreaStyle='{"fontSize": "1rem"}'
  textInput='{"placeholder": {"text": "Send a message"}}'
  initialMessages='[
    <!-- {"text": "Hey, how are you?", "role": "user"},
    {"text": "I am doing great, how about you?", "role": "ai"},
    {"text": "What is the meaning of life?", "role": "user"},
    {"text": "This completely depends on the person.", "role": "ai"} -->
  ]'
  stream='{"simulation": 6}'
></deep-chat>

  <!-- !!Either set the script as "module" or place your code in a timeout in order to wait for the component to load -->
   <script type="module">
     const el = document.getElementById("chat-element");
     // Setting value via a property (easiest way)
     el.initialMessages = [
//       { role: "user", text: "Hey, how are you today?" },
//       { role: "ai", text: "I am doing very well!" },
     ];
     el.setAttribute("introMessage", JSON.stringify({ text: "JavaScript demo for the Deep Chat component." }));
   </script>
     
  <main>
    
    
    <!--
    <article class="chatbot">
      <header>
        <h2>🤖 Chatbot</h2>
      </header>

      <dl class="conversation">
        
      </dl>
      
      <div class="chat-input">
        <textarea id="user-input" placeholder="Enter a message …" spellcheck="false" required></textarea>
        <button id="send-btn">Send</button>
      </div>

    </article>
  -->
  
  </main>
  
  <style>
    .chat-input {
      display: flex;
      padding: 1rem;
      background-color: #eee;
    }
    .chat-input textarea {
      border: 2px solid rebeccapurple;
      flex: 1;
      outline: none;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      resize: none;
    }
    .chat-input button {
      background-color: rebeccapurple;
      border: 0;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
    }
    .chat-input button:hover {
      background-color: purple;
    }
  </style>
  
  {% include 'footer.html' %}

</body>
</html>
